* {
  margin: 0;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "Lato", "Lucida Grande", Tahoma, Sans-Serif;
  font-size: larger;
}

.main-container {
  margin: 0 auto;
  color: white;
  background-image: url("../images/main-header-banner.png");
  background-repeat: no-repeat;
}

.main-header {
  padding: 30px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header nav {
  font-size: 13px;
  line-height: 2.00;
  display: table;
}

.main-header nav ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-header nav li {
  list-style: none;
  float: left;
  margin: 0 -5px;
  display: inline;
}

.main-header nav li:first-child {
  margin-left: 10px;
}

.main-header nav li:last-child {
  margin-right: 10px;
}

.main-header nav a {
  text-decoration: none;
  padding: 15px;
  color: white;
  opacity: 0.85;
}

.main-header nav a:hover {
  color: #F29305;
}

.nav-links {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.logo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding-left: 50px;
}

.login-cta {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.login-cta a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: x-small;
  font-weight: 800;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login-cta a i {
  margin-right: 15px;
  font-size: x-small;
  padding: 5px 0;
}

.login-cta a.create-acc {
  padding: 10px 15px;
  border: 1px solid none;
  border-radius: 3px;
  color: white;
  background-color: #1a7aba;
  font-size: x-small;
  text-transform: uppercase;
  margin-left: 20px;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 80px 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-content .header-contents1 {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  margin-bottom: 50px;
}

.header-content .header-contents1 h2 {
  font-size: 180%;
  font-weight: bolder;
  padding: 100px 165px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-content .header-contents1 p {
  padding: 5px 150px 0 0;
  line-height: 1.8;
}

.header-content .header-contents2 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-bottom: 50px;
}

form {
  background-color: rgba(198, 201, 204, 0.2);
  padding: 20px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

form h2 {
  text-align: center;
}

form p {
  text-align: center;
  font-size: smaller;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  width: 100%;
  height: 40px;
  display: block;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", "Lucida Grande", Tahoma, Sans-Serif;
  margin-bottom: 15px;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
  color: rgba(205, 205, 205, 0.5);
}

textarea {
  width: 100%;
  height: 90px;
  display: block;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", "Lucida Grande", Tahoma, Sans-Serif;
  margin-bottom: 15px;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
  resize: none;
  color: rgba(205, 205, 205, 0.5);
}

button[type="submit"] {
  width: 100%;
  display: block;
  padding: 15px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  background-color: orange;
  border: none;
  color: whitesmoke;
  font-weight: bolder;
  font-size: larger;
  text-transform: uppercase;
}

.ghost-bond-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ghost-bond-img img {
  margin: auto;
}

.product-usage-main {
  margin: 50px auto;
  margin-bottom: 120px;
  font-family: "Lato", "Lucida Grande", Tahoma, Sans-Serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-usage-main .product-usage-div {
  padding: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.product-usage-main .product-usage-div p {
  font-size: 20px;
  color: #010101;
  line-height: 1.5;
  text-align: left;
}

.product-usage-main .product-usage-div p:first-child {
  padding: 60px 60px 0 60px;
}

.product-usage-main .product-usage-div p:last-child {
  padding-left: 60px;
}

.ghost-bond-diff-main {
  margin-top: 50px;
}

.ghost-bond-diff-main h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 100px;
}

.ghost-bond-diff-main .ghost-bond-diff {
  margin-bottom: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", "Lucida Grande", Tahoma, Sans-Serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.ghost-bond-diff-main .ghost-bond-diff .ghost-bond-diffs {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding: 0 60px;
}

.ghost-bond-diff-main .ghost-bond-diff .ghost-bond-diffs h5 {
  font-size: x-large;
  margin: 5px 0 10px 0;
}

.ghost-bond-diff-main .ghost-bond-diff .ghost-bond-diffs p {
  color: rgba(128, 128, 128, 0.9);
}

.global-availability {
  margin: 0 auto;
  margin-top: 80px;
  font-family: "Lato", "Lucida Grande", Tahoma, Sans-Serif;
  position: relative;
}

.global-availability .global-availability-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.global-availability .global-availability-img img {
  margin: auto;
}

.global-availability .global-availability-text {
  position: absolute;
  bottom: 10%;
  color: white;
  font-weight: 900;
  text-align: center;
  padding-left: 210px;
  padding-right: 190px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.global-availability .global-availability-text h2 {
  font-size: xx-large;
  font-weight: 800;
  margin-top: 50px;
}

.global-availability .global-availability-text p {
  color: rgba(255, 255, 255, 0.75);
  font-size: 20px;
}

.fragile-ghost-bond-div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fragile-ghost-bond-div1 .fragile-ghost-bond-div-1 {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.fragile-ghost-bond-div1 .fragile-ghost-bond-div-1 img {
  display: block;
}

.fragile-ghost-bond-div1 .fragile-ghost-bond-div-1 p {
  display: block;
  text-align: left;
  font-size: 90%;
  color: gray;
  margin-top: 60px;
  margin-right: 20px;
  margin-bottom: -40px;
  padding: 10px 60px 0 0;
}

.fragile-ghost-bond-div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.fragile-ghost-bond-div2 .fragile-ghost-bond-div-2 {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.fragile-ghost-bond-div2 .fragile-ghost-bond-div-2 img {
  display: block;
  text-align: left;
}

.fragile-ghost-bond-div2 .fragile-ghost-bond-div-2 p {
  font-size: 90%;
  text-align: left;
  margin-top: 80px;
  margin-left: 40px;
  margin-bottom: -50px;
  padding-left: 50px;
  padding-right: 20px;
  color: gray;
}

.safety-first-div {
  margin: 50px auto;
  margin-bottom: 120px;
  font-family: "Lato", "Lucida Grande", Tahoma, Sans-Serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.safety-first-div .safety-first-div1 {
  text-align: left;
  padding: 0 5px;
}

.safety-first-div .safety-first-div1 h2 {
  font-size: xx-large;
  font-weight: 900;
  padding: 0 50px 0 75px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.safety-first-div .safety-first-div1 p {
  padding: 5px 125px 0 75px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 15px;
}

.safety-first-div .safety-first-div1 img {
  display: block;
}

.ultimate-cust-serv-div {
  margin-top: 100px;
}

.ultimate-cust-serv-div .ultimate-cust-serv-header h2,
.ultimate-cust-serv-div .ultimate-cust-serv-header p {
  text-align: center;
  margin-bottom: 15px;
}

.ultimate-cust-serv-div .ultimate-cust-serv-header h2 {
  font-weight: 900;
  color: black;
}

.ultimate-cust-serv-div .ultimate-cust-serv-header p {
  padding: 0 180px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: rgba(128, 128, 128, 0.9);
}

.ultimate-cust-serv-div .ultimate-cust-serv-header hr {
  margin: 5px auto;
}

.ultimate-cust-serv-div .ultimate-cust-serv-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ultimate-cust-serv-div .ultimate-cust-serv-features .ultimate-cust-serv-feature {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin: 20px;
}

.ultimate-cust-serv-div .ultimate-cust-serv-features .ultimate-cust-serv-feature i {
  margin-right: 15px;
  font-size: 100%;
  color: orange;
}

.ultimate-cust-serv-div .ultimate-cust-serv-features .ultimate-cust-serv-feature h4 {
  font-size: 90%;
  padding-right: 30px;
  text-align: left;
  margin-bottom: 10px;
  color: black;
}

.ultimate-cust-serv-div .ultimate-cust-serv-features .ultimate-cust-serv-feature h4:nth-child(5),
.ultimate-cust-serv-div .ultimate-cust-serv-features .ultimate-cust-serv-feature h4:nth-child(6) {
  padding-right: 20px;
}

.ultimate-cust-serv-div .ultimate-cust-serv-features .ultimate-cust-serv-feature p {
  font-size: 80%;
  padding: 0 40px;
  margin-top: -10px;
  color: rgba(128, 128, 128, 0.9);
  text-align: left;
}

.licensed-cosmetologist {
  position: relative;
}

.licensed-cosmetologist .licensed-cosmetologist-img {
  margin: 0 auto;
}

.licensed-cosmetologist .licensed-cosmetologist-img img {
  width: 100%;
  margin: auto;
  display: block;
}

.licensed-cosmetologist .licensed-cosmetologist-text {
  position: absolute;
  top: 12%;
  left: 37%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-weight: bolder;
  text-align: left;
  margin-bottom: 80px;
}

.licensed-cosmetologist .licensed-cosmetologist-text h2 {
  font-size: xx-large;
  font-weight: 900;
  margin-top: 50px;
  padding-left: 200px;
  padding-right: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.licensed-cosmetologist .licensed-cosmetologist-text p {
  color: rgba(255, 255, 255, 0.75);
  font-size: 20px;
  padding-left: 200px;
  padding-right: 180px;
}

.footer-div {
  margin: 0 auto;
  background-color: #1075b4;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
}

.footer-div .footer-div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-div .footer-div1 .footer-divs {
  margin-top: 50px;
  padding-left: 80px;
}

.footer-div .footer-div1 .main-footer-content {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.footer-div .footer-div1 .main-footer-content h4 {
  font-size: smaller;
  font-weight: 900;
}

.footer-div .footer-div1 .main-footer-content p {
  font-size: 65%;
}

.footer-div .footer-div1 .navigation-content {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.footer-div .footer-div1 .navigation-content ul {
  text-align: left;
  padding-left: 0pt;
}

.footer-div .footer-div1 .navigation-content li {
  list-style: none;
  font-size: 75%;
  padding-bottom: 10px;
}

.footer-div .footer-div1 .navigation-content p {
  padding-bottom: 10px;
  font-size: 65%;
}

.footer-div .footer-div1 .navigation-content h6 {
  margin-top: -5px;
  margin-bottom: -5px;
  margin-left: -5px;
}

.footer-div hr {
  margin: 0 80px;
}

.footer-div .footer-div-social-icons {
  font-size: 80%;
  margin: 50px 0;
}

.footer-div .footer-div-social-icons i.fa-facebook-f {
  margin-right: 30px;
}

.footer-div .footer-div-social-icons i.fa-twitter {
  margin-right: 30px;
}

.footer-div .copyright-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-div .copyright-div p {
  font-size: 75%;
  font-weight: 600;
  text-align: left;
  padding-left: 80px;
  padding-top: 15px;
  padding-bottom: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-div .copyright-div i {
  text-align: right;
  margin-top: 30px;
  margin-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-div .copyright-div i:last-child {
  margin-right: 90px;
}

/* mobile styles */
@media all and (max-width: 700px) {
  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-content .header-contents1 {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    margin-bottom: 50px;
  }
  .header-content .header-contents1 h2 {
    font-size: 20px;
    font-weight: 900;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 25px;
    text-align: center;
  }
  .header-content .header-contents1 p {
    line-height: 1.5;
    padding: 10px 25px;
    padding-top: 0;
    text-align: center;
  }
  .header-content .header-contents2 {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin-bottom: 20px;
  }
  form {
    background-color: rgba(198, 201, 204, 0.2);
    padding: 0 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
  }
  form h2 {
    text-align: center;
  }
  form p {
    text-align: center;
    font-size: smaller;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 5px;
  }
  input[type="text"],
  input[type="email"],
  input[type="number"] {
    width: 100%;
    height: 30px;
    display: block;
    padding: 15px 25px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Lato", "Lucida Grande", Tahoma, Sans-Serif;
    margin-bottom: 15px;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    color: rgba(205, 205, 205, 0.5);
  }
  textarea {
    width: 100%;
    height: 70px;
    display: block;
    padding: 10px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Lato", "Lucida Grande", Tahoma, Sans-Serif;
    margin-bottom: 15px;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    resize: none;
    color: rgba(205, 205, 205, 0.5);
  }
  button[type="submit"] {
    width: 100%;
    display: block;
    padding: 10px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 2px;
    background-color: orange;
    border: none;
    color: whitesmoke;
    font-weight: 600;
    font-size: larger;
    text-transform: uppercase;
  }
  .main-header {
    padding: 20px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-header nav {
    font-size: 13px;
    line-height: 2.00;
    display: table;
  }
  .main-header nav ul {
    margin: 0 10px;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-header nav li {
    list-style: none;
    float: left;
    margin: 0 -5px;
    display: inline;
  }
  .main-header nav li:first-child {
    margin-left: 10px;
  }
  .main-header nav li:last-child {
    margin-right: 10px;
  }
  .main-header nav a {
    text-decoration: none;
    padding: 15px;
    color: white;
    opacity: 0.85;
  }
  .main-header nav a:hover {
    color: #F29305;
  }
  .logo {
    width: 80%;
    text-align: center;
    padding: 10px;
    margin: 0 10px;
  }
  .login-cta {
    text-align: center;
    margin: 10px;
  }
  .login-cta a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: x-small;
    font-weight: 800;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .login-cta a i {
    margin-right: 15px;
    font-size: x-small;
    padding: 5px 0;
  }
  .login-cta a.create-acc {
    padding: 10px 15px;
    border: 1px solid none;
    border-radius: 3px;
    color: white;
    background-color: #1a7aba;
    font-size: x-small;
    text-transform: uppercase;
    margin-left: 20px;
  }
  .ghost-bond-img img {
    margin-left: 0 auto;
    width: 100%;
  }
  .product-usage-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: -50px auto;
  }
  .product-usage-main .product-usage-div img {
    width: 100%;
  }
  .product-usage-main .product-usage-div p {
    font-size: 90%;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: center;
  }
  .product-usage-main .product-usage-div p:first-child {
    padding: 0 6px;
  }
  .product-usage-main .product-usage-div p:last-child {
    padding-left: 6px;
  }
  .ghost-bond-diff-main {
    margin-top: 10px;
  }
  .ghost-bond-diff-main h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 20px;
  }
  .ghost-bond-diff-main .ghost-bond-diff {
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Lato", "Lucida Grande", Tahoma, Sans-Serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .ghost-bond-diff-main .ghost-bond-diff .ghost-bond-diffs {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    padding: 0 6px;
    margin-bottom: 10px;
  }
  .ghost-bond-diff-main .ghost-bond-diff .ghost-bond-diffs h5 {
    font-size: x-large;
    margin: 5px 0 10px 0;
  }
  .ghost-bond-diff-main .ghost-bond-diff .ghost-bond-diffs p {
    color: rgba(128, 128, 128, 0.9);
    font-size: 90%;
  }
  .fragile-ghost-bond-div1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fragile-ghost-bond-div1 .fragile-ghost-bond-div-1 {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .fragile-ghost-bond-div1 .fragile-ghost-bond-div-1 img {
    width: 80%;
    margin: 20px auto;
  }
  .fragile-ghost-bond-div1 .fragile-ghost-bond-div-1 p {
    text-align: center;
    font-size: 90%;
    color: gray;
    margin: 0 auto;
    padding: 0 6px;
  }
  .fragile-ghost-bond-div2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fragile-ghost-bond-div2 .fragile-ghost-bond-div-2 {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .fragile-ghost-bond-div2 .fragile-ghost-bond-div-2 img {
    width: 80%;
    margin: 20px auto;
  }
  .fragile-ghost-bond-div2 .fragile-ghost-bond-div-2 p {
    text-align: center;
    font-size: 90%;
    color: gray;
    margin: 0 auto;
    padding: 0 6px;
  }
  .ultimate-cust-serv-div {
    margin-top: 100px;
  }
  .ultimate-cust-serv-div .ultimate-cust-serv-header h2,
  .ultimate-cust-serv-div .ultimate-cust-serv-header p {
    text-align: center;
    margin-bottom: 15px;
  }
  .ultimate-cust-serv-div .ultimate-cust-serv-header h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 20px;
    color: black;
  }
  .ultimate-cust-serv-div .ultimate-cust-serv-header p {
    padding: 0 18px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: rgba(128, 128, 128, 0.9);
    font-size: 90%;
  }
  .ultimate-cust-serv-div .ultimate-cust-serv-header hr {
    margin: 5px auto;
  }
  .ultimate-cust-serv-div .ultimate-cust-serv-features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ultimate-cust-serv-div .ultimate-cust-serv-features .ultimate-cust-serv-feature {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin: 10px;
    padding: 10px 20px;
  }
  .ultimate-cust-serv-div .ultimate-cust-serv-features .ultimate-cust-serv-feature i {
    margin-right: 15px;
    font-size: 100%;
    color: orange;
  }
  .ultimate-cust-serv-div .ultimate-cust-serv-features .ultimate-cust-serv-feature h4 {
    font-size: 90%;
    padding-right: 30px;
    text-align: left;
    margin-bottom: 10px;
    color: black;
  }
  .ultimate-cust-serv-div .ultimate-cust-serv-features .ultimate-cust-serv-feature h4:nth-child(5),
  .ultimate-cust-serv-div .ultimate-cust-serv-features .ultimate-cust-serv-feature h4:nth-child(6) {
    padding-right: 20px;
  }
  .ultimate-cust-serv-div .ultimate-cust-serv-features .ultimate-cust-serv-feature p {
    font-size: 90%;
    padding: 0 40px;
    margin-top: -10px;
    color: rgba(128, 128, 128, 0.9);
    text-align: left;
  }
  .safety-first-div {
    margin: 10px auto;
    margin-bottom: 10px;
    font-family: "Lato", "Lucida Grande", Tahoma, Sans-Serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .safety-first-div .safety-first-div1 {
    text-align: left;
    padding: 0 5px;
  }
  .safety-first-div .safety-first-div1 h2 {
    font-size: x-large;
    font-weight: 900;
    padding: 0 5px 0 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    margin: 10px 0;
  }
  .safety-first-div .safety-first-div1 img {
    margin: 0 auto;
    width: 80%;
  }
  .safety-first-div .safety-first-div1 p {
    font-size: 100%;
    line-height: 1.5;
    text-align: left;
    padding: 20px;
    margin-bottom: 5px;
  }
  .licensed-cosmetologist {
    position: relative;
  }
  .licensed-cosmetologist .licensed-cosmetologist-img img {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .licensed-cosmetologist .licensed-cosmetologist-text {
    position: absolute;
    top: -8%;
    left: 32%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: white;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 80px;
  }
  .licensed-cosmetologist .licensed-cosmetologist-text h2 {
    font-size: 12.5px;
    font-weight: 900;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 10px;
  }
  .licensed-cosmetologist .licensed-cosmetologist-text p {
    color: rgba(255, 255, 255, 0.75);
    font-size: 8.5px;
    text-align: left;
    padding: 0 10px;
  }
  .footer-div {
    margin: 0 auto;
    background-color: #1075b4;
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
  }
  .footer-div .footer-div1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-div .footer-div1 .footer-divs {
    margin-top: 10px;
    padding: 20px;
  }
  .footer-div .footer-div1 .main-footer-content {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .footer-div .footer-div1 .main-footer-content h4 {
    font-size: smaller;
    font-weight: 900;
    padding-left: 20px;
  }
  .footer-div .footer-div1 .main-footer-content p {
    font-size: 65%;
  }
  .footer-div .footer-div1 .navigation-content {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    padding-left: 20px;
  }
  .footer-div .footer-div1 .navigation-content ul {
    text-align: left;
  }
  .footer-div .footer-div1 .navigation-content li {
    list-style: none;
    font-size: 75%;
    padding-bottom: 10px;
    padding-left: 20px;
  }
  .footer-div .footer-div1 .navigation-content p {
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 65%;
  }
  .footer-div .footer-div1 .navigation-content h6 {
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: -5px;
    padding-bottom: 15px;
  }
  .footer-div hr {
    margin: 0 80px;
  }
  .footer-div .footer-div-social-icons {
    font-size: 80%;
    margin: 20px 0;
  }
  .footer-div .footer-div-social-icons i.fa-facebook-f {
    margin-right: 30px;
  }
  .footer-div .footer-div-social-icons i.fa-twitter {
    margin-right: 30px;
  }
  .footer-div .copyright-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer-div .copyright-div p {
    font-size: 75%;
    font-weight: 600;
    padding-left: 80px;
    padding-top: 15px;
    padding-bottom: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .footer-div .copyright-div i {
    margin: 0 10px 10px 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .global-availability {
    margin: 0 auto;
    margin-top: 10px;
    font-family: "Lato", "Lucida Grande", Tahoma, Sans-Serif;
    position: relative;
  }
  .global-availability .global-availability-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .global-availability .global-availability-img img {
    width: 100%;
    height: 80vh;
    margin: 0 auto;
  }
  .global-availability .global-availability-text {
    position: absolute;
    bottom: 5%;
    color: white;
    font-weight: 900;
    text-align: center;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .global-availability .global-availability-text h2 {
    font-size: 18px;
    font-weight: bolder;
    margin-top: 50px;
  }
  .global-availability .global-availability-text p {
    color: rgba(255, 255, 255, 0.75);
    font-size: 12px;
  }
}
/*# sourceMappingURL=main.css.map */